.container {
  width: 100%;
  margin: 0;
  padding: 25px 20px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  background: linear-gradient(to bottom, #2d332d 0%, #151815 50%, #080a08 51%, #121612 100%);
  border-bottom: 2px solid var(--aero-border-green, #6ed5d3) !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logoGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  filter: drop-shadow(0 0 6px rgba(91, 219, 219, 0.855));
}

.content {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 12px; 
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
}

.title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggleBtn {
  display: none;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  gap: 6px;
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 0 ;
  cursor: pointer;
  margin: 0;
  width: auto;
}

.toggleBtn:hover {
  background: transparent;
  opacity: 0.8;
}

.toggleText {
  font-size: 0.85rem;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}

.headerMotto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #dddddd;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 600px) {
  .toggleBtn {
    display: inline-flex;
  }
}